<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= team.desc %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= team.members %>
  </p>

  <p>
    <strong>Teamlead:</strong>
    <%= team.teamLead %>
  </p>

</div>
