<div id="<%= dom_id target %>">
  <p>
    <strong>Name:</strong>
    <%= target.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= target.desc %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= target.sDate %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= target.fDate %>
  </p>

  <p>
    <strong>Attribute:</strong>
    <%= target.attr %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= target.team %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= target.status %>
  </p>

</div>
