<div id="<%= dom_id target %>">
  <p>
    <strong>Name:</strong>
    <%= target.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= target.desc %>
  </p>

  <p>
    <strong>Sdate:</strong>
    <%= target.sDate %>
  </p>

  <p>
    <strong>Fdate:</strong>
    <%= target.fDate %>
  </p>

  <p>
    <strong>Attr:</strong>
    <%= target.attr %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= target.team %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= target.status %>
  </p>

</div>
