<div id="<%= dom_id divison %>">
  <p>
    <strong>Name:</strong>
    <%= divison.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= divison.desc %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= divison.team %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= divison.manager %>
  </p>

</div>
