<p style="color: green"><%= notice %></p>

<h1>Divisions</h1>

<div id="divisons">
 
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Team</th>
      <th scope="col">Manager</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @divisons.each do |divison| %>
      <tr>
        <td><%= divison.name %></td>
        <td><%= divison.team%></td>
        <td><%= divison.manager%></td>
        <td><%= divison.desc%></td>
        <td><button class="btn btn-light"><%= link_to "Show", divison %></button>
        |   <button class="btn btn-light"><%= link_to "Edit", edit_divison_path(divison) %></button>
        |<%= button_to "Destroy", divison, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "New divison", new_divison_path %>
