<p style="color: green"><%= notice %></p>

<%= render @divison %>

<div>
  <%= link_to "Edit this divison", edit_divison_path(@divison) %> |
  <%= link_to "Back to divisons", divisons_path %>

  <%= button_to "Destroy this divison", @divison, method: :delete %>
</div>
